## Python for Data Science
### FUHSD Adult School
### Sanjay

In [1]:
print("Hello Sunday")

Hello Sunday

In [2]:
print("Hello, Python!")

Hello, Python!

### --- Exercise 1
### Print the following string "Learning Python for Data Science"

In [ ]:
# Exercise 1 - write code in this cell and click on Run

In [8]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "John"       # A string

print(counter)
print(miles)
print(name)

a = b = c = 1
print(a)
print(b)
print(c)

100
1000.0
John
1
1
1

### --- Exrecise 2
### Create variables with your first_name and last_name
### print first_name and last_name

In [10]:
# Exercise 2 - Python code
name_str = 'Andrii Polishhuk'
print (name_str)

Andrii Polishhuk

In [7]:
# Exercise 2b -- write code in this cell and click on Run
# Initialise following variables:
class_name = "Python for Data Science"
which_day = "Saturdays"
Num_days = "eight"
Class_timings = "9 am to noon"
# You want to print the following:
# "Python for Data Science class is on eight Saturdays 9 am to noon"

print(class_name, 'is on', Num_days, which_day, Class_timings)

Python for Data Science is on eight Saturdays 9 am to noon

In [9]:
str = 'Hello World!'

a = str
b = str[0]
c = str[2:7]
d = str[2:]
e = str * 2
f = str + " " + "TEST"
g = str[-1]
h = str[-3:]
print(a)          # Prints complete string
print(b)       # Prints first character of the string
print(c)     # Prints characters starting from 3rd to 5th
print(d)      # Prints string starting from 3rd character
print(e)      # Prints string two times
print(f) # Prints concatenated string
print(g)
print(h)

Hello World!
H
llo W
llo World!
Hello World!Hello World!
Hello World! TEST
!
ld!

### --- Exercise 3 
### print first two characters of first_name and last two characters of last_name

In [50]:
# Exercise 3 - write code in this cell 
# You want to extract first letter from first_name, middle_name, and last_name

first_name, last_name= 'Andrii','Polishhuk'
print('First two characters of first_name:', first_name[0:2])
print('Last two characters of last_name:', last_name[-2:])

First two characters of first_name: An
Last two characters of last_name: uk

In [17]:
###########################################################
## Python Lists
###########################################################
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]

print(list)          # Prints complete list
print(list[0])       # Prints first element of the list
print(list[1:3])     # Prints elements starting from 2nd till 3rd 
print(list[-3:])

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]

## Exercise 4 -- Lists
## Define a new Python list "new_list" and initialize it with "1","A","2","B","3","C"
## Print values with alternate indices 0,2,4 and 1,3,5

In [19]:
## Write code for Exercise 4 in this cell
new_list = ["1","A","2","B","3","C"]
print(new_list[0],new_list[2], new_list[4], new_list[1],new_list[3],new_list[5])

1 2 3 A B C

In [20]:
###########################################################
## Python Tuples
###########################################################
tuple = ('abcd', 786 , 2.23, 'john', 70.2 )
tuple = ('abcde', 786 , 2.23, 'john', 70.2 )
# tuple[0] = "sanjay"
print(tuple)          # Prints complete list
print(tuple[0])       # Prints first element of the list
print(tuple[1:3])     # Prints elements starting from 2nd till 3rd 
var1 = "jshjah"
var1 = "aaaaa"
print(var1)

('abcde', 786, 2.23, 'john', 70.2)
abcde
(786, 2.23)
aaaaa

In [ ]:
## Decisions in Python
var = 150000
if var == 2000:
   print("1 - Got a true expression value")
   print(var)
elif var == 150:
   print("2 - Got a true expression value")
   print(var)
elif var == 100:
   print("3 - Got a true expression value")
   print(var)
elif var == "Sunnyvale":
    print("var is Sunnyvale")
else:
   print("4 - Got a false expression value")
   print(var)

### --- Exercise 5 - if .. elif .. else
### Initialize string state_name to be "California" or "Texas"
### write if ... elif ... else checking state_name 
### if state_name is California, print "Golden State"
### if state_name is Texas, print "Lone Star State"
### default else to printing "Not Golden State or Lone Star State"

In [23]:
# Write code for Exercise 5 in this box
state_name = input('Please enter a state name, you can chose \"California\" or \"Texas\": ')

if state_name == 'California':
       print('Golden State')
elif state_name == 'Texas':
       print('Lone Star State')
else:
       print('Please chose between \" California\" or \"Texas\"')

Please enter a state name, you can chose "California" or "Texas":California
Golden State

In [ ]:
## For and while Loops
## while loop
count = 0
while (count < 9):
   print('The count is:', count)
   count = count + 1

## for loop
for letter in 'Python':     # First Example
   print('Current Letter :', letter)

fruits = ['banana', 'apple',  'mango']
for fruit in fruits:        # Second Example
   print('Current fruit :', fruit)

cars = ["honda","toyota","tesla"]
cars.reverse()
print(cars)

### --- Exercise 6 -- print fruits in reverse order, one line per fruit
### mango
### apple
### banana

In [30]:
# Write code for Exercise 6 in this cell
fruits = ["mango","apple","banana"]
fruits.reverse()
count = 0   
for fruit in fruits:
    print(fruits[count])
    count +=1

0 banana
1 apple
2 mango

In [ ]:
## Functions in Python
def add_numbers(a=5,b=10):
    c = a + b
    return c

result = add_numbers(2,12)
print(result)
result = add_numbers()
print(result)
result = add_numbers(2,12)
print(result)
result = add_numbers(100)
print(result)

### --- Exercise 7 -- functions -- 
### write function to find square(a) + square(b), given a and b
### def square_and_sum(a,b)
### when a = 2 and b = 3, the function should return 13
###
### write function to add strings 
### def add_strings(str1,str2)
### when str1 = "Hello" and str2 = "World", 
### it should return "Hello World!!!" with space and !!!.

In [43]:
# Write code for Exercise 7 in this cell
def square_and_sum(a,b):
    f_result = a*a + b*b
    return (f_result)

square_and_sum (2,3)

'Hello World!!!'

In [45]:
def add_strings(str1,str2):
    string = str1+' '+str2+'!!!'
    return(string)

add_strings('Hello', 'World')

'Hello World!!!'

In [ ]:
for x in range(10): 
    print(x)

In [ ]:
# range also follows the format range(start_value,stop_value,step_value)
for x in range(1,6,2):
    print(x)

### --- Exercise 8 -- using range
### print numbers 10, 9, 8, ..., 1

In [48]:
# Write code for Exercise 8 in this cell

for x in range(10): 
    print(abs(10-x))

10
9
8
7
6
5
4
3
2
1

In [49]:
## Appending and extending Python lists
list1 = [1,11,111]
list2 = [2,22,222]

list1.append(1111)
print("list1-a = %s" % list1)
print("list1-a =",list1)

list1.extend(list2)
print("list1-b = %s" % list1)

list1.remove(222)
print("list1-c = %s" % list1)

list1.sort()
print("list1-d = %s" % list1)

list1.sort(reverse=True)
print("list1-e = %s" % list1)

list1-a = [1, 11, 111, 1111]
list1-a = [1, 11, 111, 1111]
list1-b = [1, 11, 111, 1111, 2, 22, 222]
list1-c = [1, 11, 111, 1111, 2, 22]
list1-d = [1, 2, 11, 22, 111, 1111]
list1-e = [1111, 111, 22, 11, 2, 1]

### --- Exercise 9 -- lists with strings
### Initialize states_list with California, Texas, Arizona
### step 1: Add Florida
### step 2: Remove Texas
### step 3: Sort ascending order, and print the list
### step 4: Sort descending order, and print the list

In [57]:
states_list = ['California', 'Texas', 'Arizona']
states_list.append('Florida')
states_list.remove('Texas')
states_list.sort()
print(states_list)
states_list.sort(reverse=True)
print(states_list)

['Arizona', 'California', 'Florida']
['Florida', 'California', 'Arizona']

In [ ]:
## Integer and floating division
def div1(x,y):
    print(x/y)
    
def div2(x,y):
    print(x//y) # integer division

div1(5,2)
div1(5.,2)
div2(5,2)
div2(5.,2.)

In [58]:
# Printing list length
list1 = ['a', 'b', 'c', 'd', 'e']
print(len(list1))

list2 = [11,22,33,44,55,66,77,88,99,110]
print(list2[1])

print(list2[-2])

5
22
99

In [59]:
state_name = "California"
find_str = state_name.find("a")
print("1--",find_str)

find_str = state_name.find("z")
print("2--",find_str)

count_str = state_name.count("a",0,4)
print("3--",count_str)

find_str = state_name.find("nia")
print("4--",find_str)

1-- 1
2-- -1
3-- 1
4-- 7

In [ ]:
### --- Exercise 10 -- find, count --- define the string Albert_Einstein
### Albert_Einstein = "Life is like riding a bicycle. To keep your balance 
### you must keep moving."
### Find number of occurences for: you, ing, life (all case sensitive)

In [63]:
# Write code for Exercise 10 in this cell
Albert_Einstein = "Life is like riding a bicycle. To keep your balance you must keep moving."

you_count = Albert_Einstein.count("you")
ing_count = Albert_Einstein.count("ing")
Life_count = Albert_Einstein.count("Life")

print ('Number of occurences for \"you\"  : ', you_count)
print ('Number of occurences for \"ing\"  : ', ing_count)
print ('Number of occurences for \"Life\" : ', Life_count)

Number of occurences for "you"  :  2
Number of occurences for "ing"  :  2
Number of occurences for "Life" :  1

In [ ]:
# Splitting strings
ss = "Python for Data Science at FUHSD Adult School"

words = ss.split()
print("Words is a list: ",words)

ss1 = " ".join(words)
print("ss1 is a string: ",ss1)

In [ ]:
states_1 = ["Washington","Oregon","California"]
states_2 = ["Texas","Arizona","New Mexico","Nevada"]
states_3 = ["Florida","Georgia","Alabama","Louisiana"]

### --- Exrecise 11 Concatenate lists and print alternate
### 1) create a new list "states_123" which includes states_1,
### states_2, and states_3
### 2) Sort the list in ascending order
### 3) print alternate state names from states_123

In [86]:
states_1 = ["Washington","Oregon","California"]
states_2 = ["Texas","Arizona","New Mexico","Nevada"]
states_3 = ["Florida","Georgia","Alabama","Louisiana"]

states_2.extend(states_3)
states_1.extend(states_2)
states_123 = states_1
print ('Concatenated list which includes states_1, states_2, and states_3:\n', states_123)
states_123.sort()
print ('Full list sorted in ascending order :\n', states_123)

Concatenated list which includes states_1, states_2, and states_3:
 ['Washington', 'Oregon', 'California', 'Texas', 'Arizona', 'New Mexico', 'Nevada', 'Florida', 'Georgia', 'Alabama', 'Louisiana']
Full list sorted in ascending order :
 ['Alabama', 'Arizona', 'California', 'Florida', 'Georgia', 'Louisiana', 'Nevada', 'New Mexico', 'Oregon', 'Texas', 'Washington']